extends ../../layout

block content
  h1 Friday's Dinner
  form(action='/planner/days/fri' method='post')
    p.ingr Enter ingredient: 
      input(id='search' type='search' name='search' placeholder='Search...' autofocus) 
      input(class='search' type='submit' value='search' )
    div.table  
      table
        thead
          tr
            th Name
            th Image
            th Rating
            th Save
        tbody
          if Results
            each entry in Results
              tr
                td
                  a(href='#{entry.WebURL}')= entry.Title
                td
                  img.resize(src='#{entry.ImageURL}')
                td= entry.StarRating.toFixed(1)
                td
                  a(href='/planner/days/fri/add?recipe_id=#{entry.RecipeID}&image=#{entry.ImageURL}&title=#{entry.Title}&url=#{entry.WebURL}') Save
    p.back
      a(href='/planner/index') Home
    p.next
      a(href='/planner/days/sat') Go To Next Day!
