extends ../../layout

block content
  div.mon
    h1 Thursday's Dinner
    form(action='/planner/days/thurs' method='post')
      div.form
        p.ingr Enter ingredient: 
          input(id='search' type='search' name='search' placeholder='Search...' autofocus) 
          input(class='search' type='submit' value='search' )
        p
          a(href='/planner/days/thurs/add') Eating Out/Delivery
        p.back
          a(href='/planner/index') Home
        p.next
          a(href='/planner/days/fri') Go To Next Day!
    div.table 
      if Results
        table
          thead
            tr
              th Name
              th Image
              th Rating
              th Save
          tbody
            if Results
              each entry in Results
                tr
                  td
                    a(href='#{entry.WebURL}')= entry.Title
                  td
                    img.resize(src='#{entry.ImageURL}')
                  td= entry.StarRating.toFixed(1)
                  td
                    a(href='/planner/days/thurs/add?recipe_id=#{entry.RecipeID}&image=#{entry.ImageURL}&title=#{entry.Title}&url=#{entry.WebURL}') Save
